.browsehappy {
  margin: .2em 0;
  padding: .2em 0;
  background: #ccc;
  color: #000;
}

.lang {
  float: right;
  margin-top: 2rem;
  > li {
    float: left;
    &:not(:first-child) {
      margin-left: 1rem;
    }
    &:not(.is-active) > a {
      color: rgba(#fff, .5);
    }
    > a {
      display: block;
    }
  }
}

.text-white {
  color: #fff;
}
