.l {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-header,
  &-footer {
    flex: none;
    font-size: 1rem;
    letter-spacing: 1.82px;
    text-transform: uppercase;
  }

  &-header {
    padding-top: 4rem;
  }

  &-main {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
  }

  &-footer {
    .list-unstyled {
      margin-bottom: 3rem;
      > li {
        display: table-cell;
        width: 1%;
        &:nth-child(2) {
          text-align: center;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }

  &-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);
  }
}
