.l {
	height: 100%;
	position: relative;
	&-header,
	&-footer {
		z-index: 100;
	}
}

.l-header,
.l-footer {
  &.is-hidden {
    opacity: 0;
  }
}

.l-header {
	position: fixed;
	top: 0;
	width: 100%;
  .icon {
    @include size(65px, 28px);
    margin-top: -3px;
    fill: currentColor;
    color: #000;

    .theme-white & {
      color: #fff;
    }
  }
}
.l-footer {
	position: fixed;
	bottom: 0;
	padding-top: 5px;
	padding-bottom: 23px;
	width: 100%;
	height: 45px;

  .text-muted {
    color: rgba(#000, .5);
  }

  .theme-white & .text-muted {
    color: rgba(#fff, .5);
  }

	.list-inline {
		margin-bottom: 0;
	}
	.code {
		font-size: 9px;
    vertical-align: text-top;
	}
}
