$icon-font-path: 					"../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$text-color:            	#000;
$link-color:           		#196bab;

$font-family-sans-serif:  "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family:    "Athelas";

$nav-link-hover-bg:       transparent;