$icon-font-path: 					"../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$text-color:            	#000;
$link-color:           		#196bab;

$font-size-base:          13px;

$headings-font-weight:    400;

$grid-gutter-width:       40px;

$nav-link-padding:        10px;
$nav-link-hover-bg:       transparent;
