.nav {
  > li > a {
  	> span {
      border-bottom: 1px solid rgba(#196bab, .2);
    }
  }

  .theme-white & {
    > li > a {
      > span {
        border-bottom: 1px solid rgba(#fff, .2);
      }
    }
    > .active > a {
      color: rgba(#fff, .7);
    }
  }
}
.navbar--main {
	z-index: 100;
	margin-top: 3px;

	.navbar-brand {
		color: inherit;
		font-family: "Athelas";
		font-size: 22px;
		font-style: italic;
		font-weight: bold;
	}

	.navbar-nav {
		> li > a {

			&:hover,
			&:focus {
        color: #ca0606;
				opacity: 1;
				> span {
					border-bottom-color: rgba(#ca0606, .2);
				}
			}
		}
		> .active > a {
			color: #ca0606;
			> span {
				border-bottom-color: rgba(#ca0606, .2);
			}
		}
	}
}

.nav--secondary {
	margin-bottom: $line-height-computed;
	> li {
		float: left;
		> a {
			padding: 0 10px;
			border-radius: 3px;
		}
	}

	> .active {
		> .link {
			background-color: #ffefbf;
			color: #000;
		}
		.link > span {
			border-bottom-color: transparent;
		}
	}
}
