.page {
	padding-bottom: 45px + 40px;

	&-header {
		margin-top: 10%;
		margin-bottom: 50px;
		padding-bottom: 0;
		border-width: 0;
		.title {
			margin-bottom: $line-height-computed;
			font-size: 44px;
			font-weight: 700;
		}
	}
}

.page--main,
.page--clients {
	position: relative;
	height: 100vh;
}

.page--main {
	.page-line,
	&::before,
	&::after {
		background-color: rgba(#fff, .1);
	}
}

.page--clients {}

.page--project {
	position: relative;
	.nav {
		margin-bottom: $line-height-computed*1.5;
	}
	.page-body {
		p {
			max-width: 714px;
			margin-bottom: $line-height-computed;
		}
		.text-muted {
			color: rgba(#000, .5);
		}

		> .pull-right {
			.title {
				font-size: 10px;
			}
		}
		.team-pagination {
			position: static;
			transform: translateY(0);
		}
		.team-pagination-item {
			color: $text-color;
			&::before {
				margin-right: 0;
				width: auto;
				font-size: 9px;
			}
		}
	}
}

.page--team {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 30px;
	background-color: #f7f7f7;
  background-clip: content-box;
	font-size: 13px;

	.page-header,
	.page-footer {
		flex: none;
	}

	.page-body {
		flex: 1 0 auto;
		p {
			width: 50%;
			max-width: 440px;
		}
		.list-inline {
			margin-top: $line-height-computed;
			margin-left: -20px;
			> li {
				padding-right: 20px;
				padding-left: 20px;
			}
			.link > span {
				display: block;
				margin-top: 15px;
			}
		}
	}
	.page-footer {
		margin-bottom: 45px;
		.list-inline {
			font-style: $font-size-small;
		}
		.text-muted {
			margin-top: 5px;
			font-size: 10px;
		}
	}
}
