.thumbnail--project {
  border-color: transparent;
  border-radius: 0;
  > img,
  a > img {
    margin-right: 0;
    margin-left: 0;
  }
  .caption {
    padding: 15px 0 0;
    width: 80%;
  }
  .title {
    font-family: inherit;
    line-height: 18px;
    > a {
      border-bottom: 1px solid rgba(#196bab, .2);
      &:hover,
      &:focus {
        border-bottom-color: #196bab;
        text-decoration: none;
      }

      &:visited {
        color: #7b079b;
        border-bottom-color: rgba(#7b079b, .2);
      }
    }
  }
}
