.thumbnail--project {
  margin-bottom: 30px;
  animation: animSlide .5s .1s both;
  border-color: transparent;
  border-radius: 0;
  > img,
  a > img {
    margin-right: 0;
    margin-left: 0;
  }
  .caption {
    padding: 15px 0 0;
    width: 90%;
  }
  .title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: inherit;
    font-size: $font-size-base;
    line-height: 18px;
  }
}

@for $i from 1 through 12 {
  .anim-delay-#{$i} { animation-delay: $i * .1s; }
}
