.thumbnail--project {
  border-color: transparent;
  border-radius: 0;
  > img,
  a > img {
    margin-right: 0;
    margin-left: 0;
  }
  .caption {
    padding: 15px 0 0;
    width: 80%;
  }
  .title {
    margin-top: 0;
    font-family: inherit;
    line-height: 18px;
  }
}
