---
title: Дополнение к будильнику
---
<section class="page page--team">
  <div class="swiper-container swiper-container--alarm js-carousel-test">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-theme="white">
        <div class="container-fluid">
          <div class="caption">
            <!-- <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">1</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span> -->
            <h2 class="title title--normal">Дополнение к будильнику</h2>
            <p class="desc--lg">
              Для многих людей просыпаться рано утром — это тяжкое занятие. Они
              ставят несколько будильников промежуточное время которых 5-10 мин.
              Мало кто пользуется кнопкой «Snooze» так как интервалы между
              будильниками может быть разными. Есть одна проблема с которым я
              сталкиваюсь — это когда я просыпаюсь на первое время будильника,
              скажем в 05:00 и иду купаться, второе время будильника начинает
              звенеть в 05:10. За ним и 05:15. Будильник не тихий и может
              разбудить сов. И мне приходится с зубной щеткой во рту идти и
              отключать будильник.
            </p>
            <p class="desc--lg">
              Решение этой проблемы — поставить после кнопки «slide to stop
              alarm» кнопку «stop morning alarms». Приложение понимает, какие
              времена будильника входят на утренний и отключает их все на сегодня.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <!--<ol class="team-pagination"></ol>-->
    <div class="swiper-pagination"></div>
  </div>
</section>
