---
title: Дополнение к будильнику
---
<section class="page page--alarm">
  <section class="section" data-theme="white">
    <div class="container-fluid">
      <div class="caption">
        <img src="images/project-15.png" srcset="images/project-15@2x.png 2x" alt="alarm">
        <h2 class="title">Приложение<br> Моя память</h2>
        <p>Для многих людей просыпаться рано утром — это тяжкое занятие. Они ставят несколько будильников промежуточное время которых 5-10 мин. Мало кто пользуется кнопкой «Snooze» так как интервалы между будильниками может быть разными. Есть одна проблема с которым я сталкиваюсь — это когда я просыпаюсь на первое время будильника, скажем в 05:00 и иду купаться, второе время будильника начинает звенеть в 05:10. За ним и 05:15. Будильник не тихий и может разбудить сов. И мне приходится с зубной щеткой во рту идти и отключать будильник.</p>
        <p>Решение этой проблемы — поставить после кнопки «slide to stop alarm» кнопку «stop morning alarms». Приложение понимает, какие времена будильника входят на утренний и отключает их все на сегодня. </p>
        <ul class="list-unstyled">
          <li>Идея и дизайн: <strong>Айдаш Алдияр</strong></li>
        </ul>
      </div>
    </div>
  </section>
</section>
