<section class="page page--clients">
  <div class="page-line top"></div>
  <div class="page-line bottom"></div>
  <div class="swiper-container js-carousel-client">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-name="2015">
        <div class="container">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev fade" href="#">&uarr;</a>
              <span class="caption-nav-text">2015</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Клиенты</h2>
            <p>Наши клиенты очень приятны как внешне так и внутренне. Терпеливы,
              полны сил. Мы гордимся вами. Будем рады предлагать вам все самое лучшее.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="2014">
        <div class="container">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">2014</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Клиенты</h2>
            <p>Наши клиенты очень приятны как внешне так и внутренне. Терпеливы,
              полны сил. Мы гордимся вами. Будем рады предлагать вам все самое лучшее.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="2013">
        <div class="container">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">2013</span>
              <a class="caption-nav-link next fade" href="#">&darr;</a>
            </span>
            <h2 class="title">Клиенты</h2>
            <p>Наши клиенты очень приятны как внешне так и внутренне. Терпеливы,
              полны сил. Мы гордимся вами. Будем рады предлагать вам все самое лучшее.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <ol class="client-pagination"></ol>
  </div>
</section>
