<section class="page page--clients">
  <div class="swiper-container js-carousel-client">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-theme="white" data-name="2015">
        <div class="container">
          <div class="caption">
            <h2 class="title">2015</h2>
            <p class="desc">Технолог, php, java</p>
            <p>Делаю стили, сайты, иллюстрации и местами техдизайн. С удовольствием разбираю и описываю процессы.
            Больше не курю (за что благодарен Аллену) и заодно не пью алкоголь.
            Эл. почта: <a href="mailto:armen@yurta.kz">armen@yurta.kz</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <ol class="team-pagination"></ol>
  </div>
</section>
