---
title: Клиенты
---
<section class="page page--clients">
  <div class="page-line top"></div>
  <div class="page-line bottom"></div>
  <div class="swiper-container js-carousel-client">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-name="2015">
        <div class="container">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev fade" href="#">&uarr;</a>
              <span class="caption-nav-text">2015</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Клиенты</h2>
            <p>Наши клиенты очень приятны как внешне так и внутренне. Терпеливы,
              полны сил. Мы гордимся вами. Будем рады предлагать вам все самое лучшее.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="2014">
        <div class="container">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">2014</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">2014</h2>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <div class="list-clients">
                <h6 class="list-clients-type">Финансы</h6>
                <p>Bank RBK</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Сайт</span></a></li>
                  <li><a class="link text-client" href="#"><span>Моб. приложение<span></a></li>
                </ul>
                <p>Kassanova</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Сайт</span></a></li>
                  <li><a class="link" href="#"><span>Логотип</span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="list-clients">
                <h6 class="list-clients-type">Промо сайты</h6>
                <p>Bershka</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Промо сайт</span></a></li>
                </ul>
                <p>Lipton</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Промо сайт</span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="list-clients">
                <h6 class="list-clients-type">СМИ</h6>
                <p>Власть</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Сайт</span></a></li>
                  <li><a class="link text-client" href="#"><span>Мобильная версия</span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="list-clients">
                <h6 class="list-clients-type">Финансы</h6>
                <p>Bank RBK</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Сайт</span></a></li>
                  <li><a class="link text-client" href="#"><span>Моб. приложение<span></a></li>
                </ul>
                <p>Kassanova</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Сайт</span></a></li>
                  <li><a class="link" href="#"><span>Логотип</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <div class="list-clients">
                <h6 class="list-clients-type">Продукты</h6>
                <p>Фудмастер</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Сайт</span></a></li>
                  <li><a class="link text-client" href="#"><span>Новая упаковка</span></a></li>
                </ul>
                <p>Айналайн</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Сайт</span></a></li>
                  <li><a class="link" href="#"><span>Логотип</span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="list-clients">
                <h6 class="list-clients-type">Спорт</h6>
                <p>Astana Pro Team</p>
                <ul class="list-unstyled">
                  <li><a class="link" href="#"><span>Сайт</span></a></li>
                  <li><a class="link" href="#"><span>Новый сайт</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <p class="clients-hint"><span class="text-client">Берюзовым</span> отмечены наши предложения</p>
        </div>
      </div>
      <div class="swiper-slide" data-name="2013">
        <div class="container">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">2013</span>
              <a class="caption-nav-link next fade" href="#">&darr;</a>
            </span>
            <h2 class="title">Клиенты</h2>
            <p>Наши клиенты очень приятны как внешне так и внутренне. Терпеливы,
              полны сил. Мы гордимся вами. Будем рады предлагать вам все самое лучшее.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <ol class="client-pagination"></ol>
  </div>
</section>
