---
title: Дневник дизайнера
---
<section class="page page--diary">
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption">
        <h2 class="title title--light">
          <a href="mytimeline.html"><span><span>Дневник дизайнера</span></span></a>
        </h2>
        <p class="desc--lg">
          Trello, Basecamp, Notes, Тетрадки, ручка, А4? У дизайнера в мозге есть система, которая хранит в себе то, что он делал вчера по определенному проекту и что будет делать сегодня по нему, какие иконки подобрать для этого проекта, заметки, ссылки, задачки, замечания от клиента  и много похожего по другим проектам. Но бывают дни, когда дизайнер после короткого сна сидя за своим компьютером с чашкой кофе не понимает что надо делать сегодня, а что надо было сделать вчера, не помнит где сохранил ссылки на сайты конкурентов и многое другое потерялось в кашке. Дневник дизайнеров напомнит и поможет решать задачи легко и с удовольствием.
        </p>
        <p>
          Отличие проекта от Trello, Basecamp и прочих сервисов в том, что есть только дизайнер и его данные в голове, которых он бережно, по полокам хранит у себя в дневнике дизайнера.  И никого больше.
        </p>
        <p>
          Отличе от Notes в том, что Дневник создан специально для дизайнеров, где можно создавать проекты разных типов, добавлять задачки в виде чеклистов, ставить дедлайны, сохранять заметки. И дополнять на свое усмотрение.
        </p>
        <ul class="list-unstyled">
          <li>Идея и дизайн: Айдаш Алдияр</li>
          <li>Разработка: В процессе</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption caption--centered">
        <p>Рабочая область состоит из трех колонок. Список проектов, которых можно сортировать, список подзадач проекта и рабочая среда. У каждого проекта и подзадач есть вкладки типов текстовое и чеклист. Текстовая среда нужна для заметок и для описания проектов, а чеклист для поставленных задач. По умолчанию создаются вкладки “О проекте” и “Заметки”, но их можно редактировать на свое усмотрение, менять название и добавлять новые вкладки разных типов.</p>
        <img class="img-responsive" src="images/diary-01.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption caption--centered">
        <p>Иногда множество информации перед глазами требует сильной концентрации. В приложении  можно скрыть и показать список страниц. Для быстрого перехода между страницами спроектирован селектбокс рядом с заголовком.</p>
        <img class="img-responsive" src="images/diary-02.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption caption--centered">
        <p>Иногда множество информации перед глазами требует сильной концентрации. В приложении  можно скрыть и показать список страниц. Для быстрого перехода между страницами спроектирован селектбокс рядом с заголовком.</p>
        <img class="img-responsive" src="images/diary-03.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption caption--centered">
        <p>Gif добваление нового проекта. Новый проект легко создать нажав на кнопку.</p>
        <img class="img-responsive" src="images/diary-04.gif" srcset="images/diary-04.gif 2x" alt="">
      </div>
    </div>
  </section>
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption caption--centered">
        <p>Gif добавление вкладки. По каждому проекту есть возможность добавлять по несколько вкладок в виде чеклиста, заметки.</p>
        <img class="img-responsive" src="images/diary-05.gif" srcset="images/diary-05.gif 2x" alt="">
      </div>
    </div>
  </section>
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption caption--centered">
        <p>Gif сортировка проектов. Для быстрого ориентира по проектам список можно сортировать по алфавиту, по категориям и по дедлайну.</p>
        <img class="img-responsive" src="images/diary-06.gif" srcset="images/diary-06.gif 2x" alt="">
      </div>
    </div>
  </section>
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption caption--centered text-center">
        <span class="icon icon--process"></span>
        <p>Приложение в разработке</p>
      </div>
    </div>
  </section>
</section>
