---
title: Главная
---
<section class="page page--main">
  <div class="page-line top"></div>
  <div class="page-line bottom"></div>
  <div class="swiper-container js-carousel-test">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-theme="white" style="background-image: url('images/main-000.jpg');">
        <section class="swiper-container swiper-container-h">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="img-responsive" src="http://ilyabirman.ru/projects/angstrom/i/ss1@2x.png" alt="">
            </div>
            <div class="swiper-slide">
              <img class="img-responsive" src="http://ilyabirman.ru/projects/angstrom/i/ss1@2x.png" alt="">
            </div>
            <div class="swiper-slide">
              <img class="img-responsive" src="http://ilyabirman.ru/projects/angstrom/i/ss1@2x.png" alt="">
            </div>
            <div class="swiper-slide">
              <img class="img-responsive" src="http://ilyabirman.ru/projects/angstrom/i/ss1@2x.png" alt="">
            </div>
            <div class="swiper-slide">
              <img class="img-responsive" src="http://ilyabirman.ru/projects/angstrom/i/ss1@2x.png" alt="">
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-h"></div>
        </section>
      </div>
      <!--<div class="swiper-slide" style="background-image: url('images/main-01.jpg');">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">2</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Логотип «Пэй-апа»</h2>
            <p class="desc--lg">«Пэй-ап» — новый платёжный сервис для кафе и ресторанов.
              Гость сканирует и оплачивает счёт с телефона. В будущем платежи будут приниматься на стоянках,
              заправках, в магазинах и супермаркетах.</p>
          </div>
        </div>
      </div>-->
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
