---
title: Главная
---
<section class="page page--main">
  <section class="swiper-container js-carousel-main">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-theme="white">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">1</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title title--bold"><a href="mytimeline.html">Моя память</a></h2>
            <p class="desc--lg">
              Снимайте все то, что вы хотите запомнить и когда время придет
              просмотрите свое прошлое за чашкой кофе открыв приложение.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">2</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title title--bold"><a href="alarm.html">Дополнение к будильнику</a></h2>
            <p class="desc--lg">
              Кнопка «Отключить все утренние будильники» для любителей ставить
              несколько будильников на утро. Не будим сов.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </section>
</section>
