---
title: Главная
---
<section class="section" style="background-color: gold;">
  <div class="container-fluid">
    <h2>slide 1</h2>
  </div>
</section>
<section class="section" style="background-color: red;">
  <div class="container-fluid">
    <h2>Slide 2</h2>
  </div>
</section>
