---
title: Главная
---
<section class="page page--main">
  <div class="page-line top"></div>
  <div class="page-line bottom"></div>
  <div class="swiper-container js-carousel-main">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-theme="white" style="background-image: url('images/main-000.jpg');">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">1</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Здесь должен быть новый проект</h2>
            <p class="desc--lg">Сейчас мы не заняты ни одним проектом. <a class="link" href="#"><span>Станьте первым клиентом</span></a>. Мы делаем сайты, мобильные приложения, логотипы, иллюстрации. </p>
          </div>
        </div>
      </div>
      <!--<div class="swiper-slide" style="background-image: url('images/main-01.jpg');">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">2</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Логотип «Пэй-апа»</h2>
            <p class="desc--lg">«Пэй-ап» — новый платёжный сервис для кафе и ресторанов.
              Гость сканирует и оплачивает счёт с телефона. В будущем платежи будут приниматься на стоянках,
              заправках, в магазинах и супермаркетах.</p>
          </div>
        </div>
      </div>-->
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
