---
title: Главная
---
<section class="section" data-theme="white">
  <div class="container-fluid">
    <div class="caption">
      <h2 class="title title--bold"><a href="mytimeline.html">Моя память</a></h2>
      <p class="desc--lg">
        Снимайте все то, что вы хотите запомнить и когда время придет
        просмотрите свое прошлое за чашкой кофе открыв приложение.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container-fluid">
    <div class="caption">
      <h2 class="title title--bold"><a href="alarm.html">Дополнение к будильнику</a></h2>
      <p class="desc--lg">
        Кнопка «Отключить все утренние будильники» для любителей ставить
        несколько будильников на утро. Не будим сов.
      </p>
    </div>
  </div>
</section>
