---
title: Главная
---
<section class="page page--main" data-sr="enter left, move 60px wait 1s">
  <div class="container-fluid cd-intro">
    <h1 class="title cd-headline letters type">
      <span>Мы</span>
      <span class="cd-words-wrapper">
        <b class="is-visible">проектируем сайты</b>
        <b>проектируем приложения</b>
        <b>создаем сайты</b>
        <b>программируем на Objective-C</b>
        <b>пишем</b>
        <b>создаем креатив</b>
        <b>создаем мобильные приложения</b>
        <b>снимаем видео</b>
        <b>делаем моушн-дизайн</b>
        <b>рисуем иллюстрации</b>
        <b>рисуем логотипы </b>
        <b>верстаем сайты </b>
        <b>что еще?</b>
        <b>...</b>
        <b>придумываем слоганы</b>
        <b>анимируем SVG</b>
      </span>
    </h1>
    <div class="page-desc">
      <p>
        Юрта работает с июля 2015 года. Мы беремся только за полезные для
        общество проекты. Мы работаем по
        <a href="http://artgorbunov.ru/bb/soviet/20090824/" target="_blank">системе «Ресурс»</a>.
        У нас нет офиса, мы по всему миру.
      </p>
      <p>
        Миссия юрты — объединение лучших специалистов, передача знаний
        и реализация как можно больше полезных проектов.
      </p>
      <p>
        Мы <a href="https://instagram.com/artyurta" target="_blank">в фотографиях</a>. Проекты
        <a href="https://www.behance.net/ArtYurta" target="_blank">на behance</a>.
      </p>
    </div>
  </div>
</section>
