---
title: Главная
---
<div class="wrap">
  <div class="scrollbar">
    <div class="handle">
      <div class="mousearea"></div>
    </div>
  </div>
  <div class="frame smart" id="smart">
    <ul class="items">
      <li class="section" data-theme="white">
        <div class="section-bg"></div>
        <div class="container-fluid">
          <div class="caption">
            <h2 class="title title--light">
              <a href="mytimeline.html"><span><span>Моя память</span></span></a>
            </h2>
            <p class="desc--lg">
              Снимайте все то, что вы хотите запомнить и когда время придет
              просмотрите свое прошлое за чашкой кофе открыв приложение.
            </p>
          </div>
        </div>
      </li>
      <li class="section" data-theme="white">
        <div class="section-bg"></div>
        <div class="container-fluid">
          <div class="caption">
            <h2 class="title title--light">
              <a href="alarm.html"><span><span>Дополнение к будильнику</span></span></a>
            </h2>
            <p class="desc--lg">
              Кнопка «Отключить все утренние будильники» для любителей ставить
              несколько будильников на утро. Не будим сов.
            </p>
          </div>
        </div>
      </li>
      <li class="section" data-theme="white">
        <div class="section-bg"></div>
        <div class="container-fluid">
          <div class="caption">
            <h2 class="title title--light">
              <a href="alarm.html"><span><span>Дополнение к будильнику</span></span></a>
            </h2>
            <p class="desc--lg">
              Кнопка «Отключить все утренние будильники» для любителей ставить
              несколько будильников на утро. Не будим сов.
            </p>
          </div>
        </div>
      </li>
      <li class="section" data-theme="white">
        <div class="section-bg"></div>
        <div class="container-fluid">
          <div class="caption">
            <h2 class="title title--light">
              <a href="alarm.html"><span><span>Дополнение к будильнику</span></span></a>
            </h2>
            <p class="desc--lg">
              Кнопка «Отключить все утренние будильники» для любителей ставить
              несколько будильников на утро. Не будим сов.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
