---
title: Главная
---
<section class="page page--main js-snap">
  <section class="section" data-theme="white">
    <div class="container-fluid">
      <div class="caption">
        <h2 class="title title--light">
          <a href="mytimeline.html"><span>Моя память</span></a>
        </h2>
        <p class="desc--lg">
          Снимайте все то, что вы хотите запомнить и когда время придет
          просмотрите свое прошлое за чашкой кофе открыв приложение.
        </p>
      </div>
    </div>
  </section>
  <section class="section" data-theme="white">
    <div class="container-fluid">
      <div class="caption">
        <h2 class="title title--light">
          <a href="alarm.html"><span>Дополнение к будильнику</span></a>
        </h2>
        <p class="desc--lg">
          Кнопка «Отключить все утренние будильники» для любителей ставить
          несколько будильников на утро. Не будим сов.
        </p>
      </div>
    </div>
  </section>
</section>
