---
title: Мой Таймлайн
---
<section class="page page--team">
  <div class="swiper-container swiper-container--timeline js-carousel-test">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-theme="white">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">1</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title title--normal">Моя память</h2>
            <p class="desc--lg">
              Приложение сохраняет все интересные соббытия вашей жизни как фото,
              видео и текст. Снимайте все то, что вы хотите запомнить и когда
              время придет просмотрите свое прошлое за чашкой кофе открыв
              "мой таймлайн". При снимке лица распознаются и распределяются
              автоматический по следующим альбомам: "мой таймлайн", "с семьей",
              "с родными", "с друзъями". Для тех, кто любят путишествовать есть
              возможность смотреть по городам.
            </p>
            <p class="desc--lg">
              В идеале, отличным дополнением к приложению был бы фотодрон,
              который с самого рождения запечатлял бы все наши интересные
              события. Мы не тратили бы свое время на фотографирование себя.
              Мы не беспокоились бы о том, что текущий момент останется
              незапечатленным.
            </p>
            <p class="desc desc--light">Описание фотодрона смотрите ниже</p>
          </div>
        </div>
      </div>
      <!-- screens -->
      <div class="swiper-slide" data-theme="white">
        <section class="swiper-container swiper-container-h">
          <div class="swiper-wrapper">
            <figure class="swiper-slide">
              <img class="img-responsive" src="images/timeline/home.jpg" alt="">
              <figcaption class="swiper-slide-caption">
                Главная страница. Показаны пять альбомов, возможность просмотра
                фотографии по городам и есть возможность связать свою память с
                памятью близкого человека для просмотра событий на одном устройстве
              </figcaption>
            </figure>
            <figure class="swiper-slide">
              <img class="img-responsive" src="images/timeline/years.jpg" alt="">
              <figcaption class="swiper-slide-caption">
                Выбор года. Фотографии на фоне ставятся рандомно. С каждым
                входом на этот экран фоны меняются
              </figcaption>
            </figure>
            <figure class="swiper-slide">
              <img class="img-responsive" src="images/timeline/months.jpg" alt="">
              <figcaption class="swiper-slide-caption">
                Выбор месяца. Месяцы визуально разделены на сезоны. Это для того
                чтобы было легче ориентироваться в поиске событий
              </figcaption>
            </figure>
            <figure class="swiper-slide">
              <img class="img-responsive" src="images/timeline/days.jpg" alt="">
              <figcaption class="swiper-slide-caption">
                Сами события. В зависимости от скрола экрана число дня меняется
              </figcaption>
            </figure>
            <figure class="swiper-slide">
              <img class="img-responsive" src="images/timeline/days-2.jpg" alt="">
              <figcaption class="swiper-slide-caption">
                Возможность быстрого перехода по альбомам не возвращаясь на
                главную страницу
              </figcaption>
            </figure>
            <figure class="swiper-slide">
              <img class="img-responsive" src="images/timeline/days-3.jpg" alt="">
              <figcaption class="swiper-slide-caption">
                Просмотрев за 2018 год можно быстро перейти к предыдущим годам.
              </figcaption>
            </figure>
            <figure class="swiper-slide">
              <img class="img-responsive" src="images/timeline/cities.jpg" alt="">
              <figcaption class="swiper-slide-caption">
                Экран выбора города. Показан период прибывания в этом городе.
              </figcaption>
            </figure>
          </div>
          <!--<div class="swiper-pagination swiper-pagination-h"></div>-->
        </section>
      </div>
      <!-- screens -->
      <div class="swiper-slide">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">3</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title title--normal">Фотодрон</h2>
            <p class="desc--lg">Летающий аппарат размером теннисного мяча. Снимает фото, видео. Включается, выключается через мобильное приложение. Все снимки сохраняет в "Моем таймлайне"</p>
            <p class="desc--lg">Для полного понимания предсатвим x-мэна, джойстик и компьютер. Когда вы включаете приложение дрон взлетает и х-мэн начинает управлять им удаленно с помощью джойстика и компьютера. На экране компьютера он видит то, что видит дрон. Х-мэн — умелый летчик со знаниями фотографа. Во время всего полета он снимает все счастливые моменты нашей жизни. Но это затрадно, сколько же x-мэнов нужно для съемок жизни каждого человека на планете. Остается простой выход — дрону нужно иметь интелект умелого летчика со знаниями фотографа.
            </p>
            <p class="desc desc--light" >Фотодрон остется пока просто идееи. А приложением "Мой таймлайн" можно было бы уже пользоваться.</p>
            <p class="desc desc--light">Дизайн и идея Айдаш Алдияра</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <!--<ol class="team-pagination"></ol>-->
    <div class="swiper-pagination"></div>
  </div>
</section>
