---
title: Дневник дизайнера
---
<section class="page page--timeline">
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption">
        <img src="images/project-16.png" srcset="images/project-13@2x.png 2x" alt="mytimeline">
        <h2 class="title">Приложение<br> Моя память</h2>
        <p class="desc--lg">
          Приложение сохраняет все интересные соббытия вашей жизни как фото, видео и текст. Снимайте все то, что вы хотите запомнить и когда время придет просмотрите свое прошлое за чашкой кофе открыв "мой таймлайн". При снимке лица распознаются и распределяются автоматический по следующим альбомам: "мой таймлайн", "с семьей", "с родными", "с друзъями". Для тех, кто любят путишествовать есть возможность смотреть по городам.
        </p>
        <p>
          В идеале, отличным дополнением к приложению был бы фотодрон, который с самого рождения запечатлял бы все наши интересные события. Мы не тратили бы свое время на фотографирование себя. Мы не беспокоились бы о том, что текущий момент останется незапечатленным.
        </p>
        <ul class="list-unstyled">
          <li>Идея и дизайн: <strong>Айдаш Алдияр</strong></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <section class="gallery gallery--timeline swiper-container">
        <div class="swiper-wrapper">
          <figure class="swiper-slide">
            <img src="images/iphone.jpg" alt="">
          </figure>
          <figure class="swiper-slide">
            <img src="images/iphone.jpg" alt="">
          </figure>
          <figure class="swiper-slide">
            <img src="images/iphone.jpg" alt="">
          </figure>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </section>
    </div>
  </section>
  <section class="section" data-theme="black">
    <div class="container-fluid">
      <div class="caption">
        <h2 class="title">Фотодрон</h2>
        <p>Летающий аппарат размером теннисного мяча. Снимает фото, видео. Включается, выключается через мобильное приложение. Все снимки сохраняет в "Моей памяти"</p>
        <p>Для полного понимания предсатвим x-мэна, джойстик и компьютер. Когда вы включаете приложение дрон взлетает и х-мэн начинает управлять им удаленно с помощью джойстика и компьютера. На экране компьютера он видит то, что видит дрон. Х-мэн — умелый летчик со знаниями фотографа. Во время всего полета он снимает все счастливые моменты нашей жизни. Но это затрадно, сколько же x-мэнов нужно для съемок жизни каждого человека на планете. Остается простой выход — дрону нужно иметь интелект умелого летчика со знаниями фотографа.</p>
        <ul class="list-unstyled">
          <li>Похожая идея: <a href="#">lily.camera</a></li>
        </ul>
      </div>
    </div>
  </section>
</section>
