---
title: Проекты
---
<section class="page page--projects">
	<div class="page-line top"></div>
  <div class="page-line bottom"></div>
	<div class="container-fluid">
		<header class="page-header">
      <h1 class="title">Проекты</h1>
			<!--<ul class="nav nav--secondary">
			  <li class="active" role="presentation"><a class="link" href="#"><span>Свежие</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Сайты</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Мобильные приложения</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Интерфейсы</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Графический дизайн</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Архив</span></a></li>
			</ul>-->
    </header>
		<div class="page-body">
			<div class="list-projects">
				<figure class="thumbnail thumbnail--project anim-delay-1">
					<a href="diary.html">
						<img src="images/project-14.png" srcset="images/project-12@2x.png 2x" alt="timeline">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a href="diary.html">Дневник дизайнера</a>
						</h6>
            <span class="text-muted">Приложение</span>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-2">
					<a href="alarm.html">
						<img src="images/project-15.png" srcset="images/project-13@2x.png 2x" alt="alarm">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a href="alarm.html">Дополнение к будильнику</a>
						</h6>
            <span class="text-muted">Приложение</span>
					</figcaption>
				</figure>
        <figure class="thumbnail thumbnail--project anim-delay-3">
          <a href="alarm.html">
            <img src="images/project-16.png" srcset="images/project-13@2x.png 2x" alt="alarm">
          </a>
          <figcaption class="caption">
            <h6 class="title">
              <a href="alarm.html">Моя память</a>
            </h6>
            <span class="text-muted">Приложение</span>
          </figcaption>
        </figure>
			</div>
		</div>
	</div>
</section>
