<section class="page page--projects">
	<div class="container">
		<h2>Проекты</h2>
		<ul class="nav nav-pills">
		  <li role="presentation" class="active"><a href="#">Свежие</a></li>
		  <li role="presentation"><a href="#">Сайты</a></li>
		  <li role="presentation"><a href="#">Мобильные приложения</a></li>
		  <li role="presentation"><a href="#">Интерфейсы</a></li>
		  <li role="presentation"><a href="#">Графический дизайн</a></li>
		  <li role="presentation"><a href="#">Архив</a></li>
		</ul>

		<div class="row">
			<div class="col-xs-3">
				<figure class="thumbnail thumbnail--project">
					<a href="project-item.html">
						<img src="images/project-00.png" alt="">
					</a>
					<figcaption class="caption">
						<h4><a href="project-item.html">Пятая версия сайта Альфа-Банка</a></h4>
					</figcaption>
				</figure>
			</div>
			<div class="col-xs-3">
				<figure class="thumbnail thumbnail--project">
					<a href="project-item.html">
						<img src="images/project-00.png" alt="">
					</a>
					<figcaption class="caption">
						<h4><a href="project-item.html">Пятая версия сайта Альфа-Банка</a></h4>
					</figcaption>
				</figure>
			</div>
			<div class="col-xs-3">
				<figure class="thumbnail thumbnail--project">
					<a href="project-item.html">
						<img src="images/project-00.png" alt="">
					</a>
					<figcaption class="caption">
						<h4><a href="project-item.html">Пятая версия сайта Альфа-Банка</a></h4>
					</figcaption>
				</figure>
			</div>
			<div class="col-xs-3">
				<figure class="thumbnail thumbnail--project">
					<a href="project-item.html">
						<img src="images/project-00.png" alt="">
					</a>
					<figcaption class="caption">
						<h4><a href="project-item.html">Пятая версия сайта Альфа-Банка</a></h4>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>