---
title: Проекты
---
<section class="page page--projects">
	<div class="page-line top"></div>
  <div class="page-line bottom"></div>
	<div class="container-fluid">
		<header class="page-header">
      <h1 class="title">Проекты</h1>
			<!--<ul class="nav nav--secondary">
			  <li class="active" role="presentation"><a class="link" href="#"><span>Свежие</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Сайты</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Мобильные приложения</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Интерфейсы</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Графический дизайн</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Архив</span></a></li>
			</ul>-->
			<p class="desc--lg" style="font-size:15px;">Сейчас мы не заняты ни одним проектом. <a class="link" href="#"><span>Станьте первым клиентом</span></a></p>
    </header>
		<div class="page-body">
			<!--<div class="list-projects">
				<figure class="thumbnail thumbnail--project">
					<a href="project-item.html">
						<img src="images/project-00.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Пятая версия сайта Альфа-Банка</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-1">
					<a href="project-item.html">
						<img src="images/project-01.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Умножение названий станций московского метро</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-2">
					<a href="project-item.html">
						<img src="images/project-02.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Наносхема московского метро</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-3">
					<a href="project-item.html">
						<img src="images/project-03.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Схема челябинских троллейбусов и трамваев</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-4">
					<a href="project-item.html">
						<img src="images/project-04.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Логотип «Пэй-апа»</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-5">
					<a href="project-item.html">
						<img src="images/project-05.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Мобильная версия сайта Центра международного обмена</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-6">
					<a href="project-item.html">
						<img src="images/project-06.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Вторая версия онлайн-магазина «Столото»</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-7">
					<a href="project-item.html">
						<img src="images/project-07.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Сайт компании «Сабидом»</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-8">
					<a href="project-item.html">
						<img src="images/project-08.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Логотип «Пэй-апа»</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-9">
					<a href="project-item.html">
						<img src="images/project-09.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Мобильная версия сайта Центра международного обмена</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-10">
					<a href="project-item.html">
						<img src="images/project-10.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Вторая версия онлайн-магазина «Столото»</span></a>
						</h6>
					</figcaption>
				</figure>
				<figure class="thumbnail thumbnail--project anim-delay-11">
					<a href="project-item.html">
						<img src="images/project-11.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="project-item.html"><span>Сайт компании «Сабидом»</span></a>
						</h6>
					</figcaption>
				</figure>
			</div>-->
		</div>
	</div>
</section>
