---
title: Проекты
---
<section class="page page--projects">
	<div class="page-line top"></div>
  <div class="page-line bottom"></div>
	<div class="container-fluid">
		<header class="page-header">
      <h1 class="title">Проекты</h1>
			<!--<ul class="nav nav--secondary">
			  <li class="active" role="presentation"><a class="link" href="#"><span>Свежие</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Сайты</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Мобильные приложения</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Интерфейсы</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Графический дизайн</span></a></li>
			  <li role="presentation"><a class="link" href="#"><span>Архив</span></a></li>
			</ul>-->
    </header>
		<div class="page-body">
			<div class="list-projects">
				<figure class="thumbnail thumbnail--project">
					<a href="project-item.html">
						<img src="images/project-12.png" alt="">
					</a>
					<figcaption class="caption">
						<h6 class="title">
							<a class="link" href="mytimeline.html">
                <span>Мобильное приложение "Моя память"</span>
              </a>
						</h6>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
