<section class="page page--team">
  <div class="page-line top"></div>
  <div class="page-line bottom"></div>
  <header class="page-header">
    <div class="container">
      <h1 class="title">Команда</h1>
    </div>
  </header>
  <div class="page-body">
    <div class="container">
      <p>
        У каждого человека в компании свой график работы, то есть гибкий, нет условной времени.
        Каждый получает процент от проектов, нет фиксированной зарплаты.
        Каждый знает все тонкости своей работы и все они ответственны к работе.
        Конечно в продакшне будет другой текст ;) Иконки условные.
      </p>
      Мы делаем:
      <ul class="list-inline">
        <li><a class="link" href="#">
          <i class="icon icon--bottle"></i>
          <span>Сайты</span>
          </a></li>
        <li><a class="link" href="#">
          <i class="icon icon--lamp"></i>
          <span>Мобильные приложения</span>
          </a></li>
        <li><a class="link" href="#">
          <i class="icon icon--rocket"></i>
          <span>Логотипы</span>
          </a></li>
        <li><a class="link" href="#">
          <i class="icon icon--duck"></i>
          <span>Иллюстрации</span>
          </a></li>
      </ul>
    </div>
  </div>
  <ol class="team-pagination">
    <li class="team-pagination-item"><a href="team-item.html"><span>Алдияр</span> Творец</a></li>
    <li class="team-pagination-item"><a href="team-item.html"><span>Армэн</span> Технолог</a></li>
    <li class="team-pagination-item"><a href="team-item.html"><span>Асия</span> Дизайнер</a></li>
  </ol>
  <footer class="page-footer">
    <div class="container">
      <span class="icon icon--bars"></span>
      <p class="text-muted">2015</p>
      <p>2015, 9 человек</p>
      <ul class="list-inline">
        <li>Творцы (3)</li>
        <li>Технологи (7)</li>
        <li>Торговцы (1)</li>
        <li>Фотографы (1)</li>
        <li>Редакторы (2)</li>
      </ul>
    </div>
  </footer>
</section>
