---
title: Команда
---
<section class="page page--team">
  <div class="page-line top"></div>
  <div class="page-line bottom"></div>
  <div class="swiper-container js-carousel-team">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-theme="white" data-name="Рахат" data-position="Творец" style="background-image: url('images/team-00.jpg');">
        <div class="container">
          <div class="caption">
            <h2 class="title">Рахат</h2>
            <p class="desc">Творец, веб-дизайнер</p>
            <p>Делаю стили, сайты, иллюстрации и местами техдизайн. С удовольствием разбираю и описываю процессы.
            Больше не курю (за что благодарен Аллену) и заодно не пью алкоголь.</p>
            <p><a href="mailto:rakhat@yurta.kz">rakhat@yurta.kz</a></p>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="Алдияр" data-position="Технолог" style="background-image: url('images/team-01.png');">
        <div class="container">
          <div class="caption">
            <h2 class="title">Алдияр</h2>
            <p class="desc">Технолог, php, java</p>
            <p>Бегу к знаниям о многом. Проектирую, рисую сайты, мобильные приложения. Увлеченно изучаю интерфейсы.
            </p>
            <p><a href="mailto:aldiyar@yurta.kz">aldiyar@yurta.kz</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <ol class="team-pagination"></ol>
  </div>
</section>
