---
title: Команда
---
<section class="page page--team">
  <div class="page-line top"></div>
  <div class="page-line bottom"></div>
  <header class="page-header">
    <div class="container">
      <h1 class="title">Команда</h1>
    </div>
  </header>
  <div class="page-body">
    <div class="container">
      <p>
        Юрта работает с 2015 года. Мы помогаем клиентам создавать новые продукты и услуги. делаем сайты, мобильные приложения, логотипы, иллюстрации. 

Наше отличие — умение создавать максимально полезные продукты. Работая над проектами мы уделяем огромное внимание на информативность, удобство и красоту. Красота технической части у нас по умолчанию. 

Юрта подписывает каждый свой результат труда, поэтому по необходимости мы управляем командой разработчиков клиента. 

Юрта запускает проекты в срок. Мы работаем по принципу ФФФ, которым следует Дизайн-бюро Артёма Горбунова. Мы не разрабатываем проекты годами — мы запускаем их итерациями.

В юрте все работают по системе «Ресурс». Каждый хозяин своей времени и каждый ответственен за свою часть работы. 

Миссия юрты — объединение лучших специалистов в одном направлении, передача знаний молодым.
      </p>
      Мы делаем:
      <ul class="list-inline">
        <li><a class="link" href="#">
          <!--<i class="icon icon--bottle"></i>-->
          <span>Сайты</span>
          </a></li>
        <li><a class="link" href="#">
          <!--<i class="icon icon--lamp"></i>-->
          <span>Мобильные приложения</span>
          </a></li>
        <li><a class="link" href="#">
          <!--<i class="icon icon--rocket"></i>-->
          <span>Логотипы</span>
          </a></li>
        <li><a class="link" href="#">
          <!--<i class="icon icon--duck"></i>-->
          <span>Иллюстрации</span>
          </a></li>
      </ul>
    </div>
  </div>
  <ol class="team-pagination">
    <li class="team-pagination-item"><a href="team-item.html"><span>Алдияр2</span> Творец</a></li>
    <li class="team-pagination-item"><a href="team-item.html"><span>Армэн</span> Технолог</a></li>
    <li class="team-pagination-item"><a href="team-item.html"><span>Асия</span> Дизайнер</a></li>
  </ol>
  <footer class="page-footer">
    <div class="container">
      <span class="icon icon--bars"></span>
      <p class="text-muted">2015</p>
      <p>2015, 9 человек</p>
      <ul class="list-inline">
        <li>Творцы (3)</li>
        <li>Технологи (7)</li>
        <li>Торговцы (1)</li>
        <li>Фотографы (1)</li>
        <li>Редакторы (2)</li>
      </ul>
    </div>
  </footer>
</section>
