<section class="page page--team">
  <div class="container">
    <header class="page-header">
      <h1>Команда</h1>
    </header>
    <div class="page-body">
      <p>
        У каждого человека в компании свой график работы, то есть гибкий, нет условной времени.
        Каждый получает процент от проектов, нет фиксированной зарплаты.
        Каждый знает все тонкости своей работы и все они ответственны к работе.
        Конечно в продакшне будет другой текст ;) Иконки условные.
      </p>
      Мы делаем:
      <ul class="list-inline">
        <li><a href="#">
          <span class="icon icon--bottle"></span><br>
          Сайты
          </a></li>
        <li><a href="#">
          <span class="icon icon--lamp"></span><br>
          Мобильные приложения
          </a></li>
        <li><a href="#">
          <span class="icon icon--rocket"></span><br>
          Логотипы
          </a></li>
        <li><a href="#">
          <span class="icon icon--duck"></span><br>
          Иллюстрации
          </a></li>
      </ul>
    </div>
    <ol class="team-pagination">
      <li class="team-pagination-item"><a href="team-item.html"><span>Алдияр</span> Творец</a></li>
      <li class="team-pagination-item"><a href="team-item.html"><span>Армэн</span> Технолог</a></li>
      <li class="team-pagination-item"><a href="team-item.html"><span>Асия</span> Дизайнер</a></li>
    </ol>
    <footer class="page-footer">
      <span class="icon icon--bars"></span>
      2015
      2015, 9 человек
      <ul class="list-inline">
        <li>Творцы (3)</li>
        <li>Технологи (7)</li>
        <li>Торговцы (1)</li>
        <li>Фотографы (1)</li>
        <li>Редакторы (2)</li>
      </ul>
    </footer>
  </div>
</section>
