---
title: Команда
---
<section class="page page--team">
  <div class="swiper-container js-carousel-team">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-name="О команде" data-position="" style="background-color: transparent;">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">1</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Команда</h2>
            <p class="desc--lg">
              Юрта работает с 2015 года. Мы делаем <a class="link" href="#"><span>сайты</span></a>,
              <a class="link" href="#"><span>мобильные приложения</span></a>,
              <a class="link" href="#"><span>логотипы</span></a>, <a class="link" href="#"><span>иллюстрации</span></a>.
            </p>
            <p class="desc--lg">
              Наше отличие — умение находить полезные, красивые, удобные решения.
              Работая над проектами мы уделяем огромное внимание на информативность,
              удобство и красоту. Красота технической части у нас по умолчанию.</p>
            <p class="desc--lg">
              Юрта запускает проекты в срок. Мы работаем
              <a class="link" href="http://artgorbunov.ru/bureau/fff/"><span>по принципу ФФФ</span></a>,
              которым следует Дизайн-бюро Артёма Горбунова.
            </p>
            <p class="desc--lg">
              В юрте все работают по <a class="link" href="http://artgorbunov.ru/bb/soviet/20090824/"><span>
              системе «Ресурс»</span></a>. Каждый хозяин своей времени и каждый ответственен за свою часть работы.
            </p>
            <p class="desc--lg">Миссия юрты — объединение лучших специалистов в одном направлении, передача знаний.</p>
          </div>
          <footer class="swiper-slide-bottom hidden">
            <span class="icon icon--bars"></span>
            <p class="text-muted">2015</p>
            <p>2015, 2 человекa</p>
            <ul class="list-inline">
              <li>Творцы (1)</li>
              <li>Технологи (1)</li>
              <li>Торговцы (0)</li>
              <li>Фотографы (0)</li>
              <li>Редакторы (0)</li>
            </ul>
          </footer>
        </div>
      </div>
      <div class="swiper-slide" data-theme="white" data-name="Рахат" data-position="Технолог" style="background-image: url('images/team-00.jpg');">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">2</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Рахат</h2>
            <p class="desc">Технолог, php, java</p>
            <p class="desc--lg">Делаю стили, сайты, иллюстрации и местами техдизайн. С удовольствием разбираю и описываю процессы.
            Больше не курю (за что благодарен Аллену) и заодно не пью алкоголь.</p>
            <p><a class="link" href="mailto:rakhat@yurta.kz"><span>rakhat@yurta.kz</span></a></p>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="Алдияр" data-position="Творец" style="background-image: url('images/team-01.png');">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">3</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Алдияр</h2>
            <p class="desc">Творец, веб-дизайнер</p>
            <p class="desc--lg">Бегу к знаниям о многом. Проектирую, рисую сайты, мобильные приложения. Увлеченно изучаю интерфейсы.
            </p>
            <p><a class="link" href="mailto:aldiyar@yurta.kz"><span>aldiyar@yurta.kz</span></a></p>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-theme="white" data-name="Нарикби" data-position="Технолог" style="background-image: url('images/team-04.png');">
        <div class="container-fluid">
          <div class="caption">
            <span class="caption-nav">
              <a class="caption-nav-link prev" href="#">&uarr;</a>
              <span class="caption-nav-text">4</span>
              <a class="caption-nav-link next" href="#">&darr;</a>
            </span>
            <h2 class="title">Нарикби</h2>
            <p class="desc">iOS разработчик</p>
            <p class="desc--lg">Пишу на Objective-C, проектирую интересные и уникальные интерфейсы. Люблю читать книги на своем kindle, ездить на велике и путешествовать.
            </p>
            <p><a class="link" href="mailto:aldiyar@yurta.kz"><span>narikbi@yurta.kz</span></a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <ol class="team-pagination"></ol>
  </div>
</section>
