<footer class="l-footer">
  <div class="container-fluid">
    <ul class="list-unstyled">
      <li>&copy; 2015 <span class="text-white">Artyurta</span></li>
      <li>Звоните <span class="text-white">+ 7 705 12 88 310</span></li>
      <li>Пишите <a href="mailto:hello@artyurta.com">hello@artyurta.com</a></li>
    </ul>
  </div>
</footer>
