<footer class="l-footer">
  <div class="container-fluid">
    <ul class="list-unstyled">
      <li data-sr="enter bottom wait .25s">&copy; 2015 <span class="text-white">Artyurta</span></li>
      <li data-sr="enter bottom wait .5s">Звоните <a href="tel:+ 7 705 12 88 310">+ 7 705 12 88 310</a></li>
      <li data-sr="enter bottom wait .75s">Пишите <a href="mailto:hello@artyurta.com">hello@artyurta.com</a></li>
    </ul>
  </div>
</footer>
