<header class="l-header" role="banner">
  <div class="container-fluid">
    <ul class="list-unstyled lang">
      <li data-sr="enter top wait .25s"><a href="//artyurta.kz">Каз</a></li>
      <li class="is-active" data-sr="enter top wait .5s"><a href="//artyurta.ru">Рус</a></li>
      <li data-sr="enter top wait .75s"><a href="//artyurta.com">Eng</a></li>
    </ul>
    <svg class="icon icon--logo" data-sr="enter top"><use xlink:href="#logo"></svg>
  </div>
</header>
