<header class="l-header" role="banner">
  <div class="container-fluid">
    <ul class="list-unstyled lang">
      <li><a href="artyurta.kz">Каз</a></li>
      <li class="is-active"><a href="artyurta.ru">Рус</a></li>
      <li><a href="artyurta.com">Eng</a></li>
    </ul>
    <svg class="icon icon--logo"><use xlink:href="#logo"></svg>
  </div>
</header>
