<footer class="l-footer">
  <div class="container-fluid">
  	<ul class="list-inline">
  		<li class="text-muted">
        <span class="copyright">&copy; 2015</span>
      </li>
  		<li>
        <a class="link" href="mailto:hello@artyurta.com"><span>hello@artyurta.com</span></a>
      </li>
  		<li><span class="code text-muted">8705</span> 12 88 310</li>
  		<li><a class="link" href="#"><span>Стать клиентом</span></a></li>
  	</ul>
  </div>
</footer>
