<footer class="l-footer">
  <div class="container">
  	<ul class="list-inline">
  		<li><span class="copyright">&copy; 2015</span></li>
  		<li><a href="mailto:youare@welcome.com">youare@welcome.com</a></li>
  		<li>8727 288 88 88</li>
  		<li><a href="#">Стать клиентом</a></li>
  	</ul>
  </div>
</footer>
