<header class="l-header" role="banner">
  <nav class="navbar navbar--main">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Дизайн юрта</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li{{#is basename "projects"}} class="active"{{/is}}>
            <a href="projects.html"><span>Проекты</span></a>
          </li>
          {{!-- <li{{#is basename "clients"}} class="active"{{/is}}><a href="clients.html"><span>Клиенты</span></a></li> --}}
          <li{{#is basename "team"}} class="active"{{/is}}>
            <a href="team.html"><span>Команда</span></a>
          </li>
          <li{{#is basename "shop"}} class="active"{{/is}}>
            <a href="#"><span>Магазин</span></a>
          </li>
          <li{{#is basename "world"}} class="active"{{/is}}>
            <a href="#"><span>Мир</span></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden">
          <li><a href="#">Дневник дизайнера: <span>Алдияр</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
