<header class="l-header" role="banner">
  <nav class="navbar navbar--main">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Дизайн юрта</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a class="link" href="projects.html"><span>Проекты</span></a></li>
          <li><a class="link" href="clients.html"><span>Клиенты</span></a></li>
          <li><a class="link" href="team.html"><span>Команда</span></a></li>
          <li><a class="link" href="#"><span>Магазин</span></a></li>
          <li><a class="link" href="#"><span>Мир</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Дневник дизайнера: <span>Алдияр</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
